:root{
    --primaryGreen: #B0E2E1;
    --secundaryGreen: #5DC5C4;
    --blue: #3D5071;
    --black: #434343;
    --primaryGrey: #79859D;
    --secundaryGrey: #F7F7F7;
}

/* Estilos generales */
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*,*:before, *:after{
    box-sizing: inherit;
}
body{
    font-size: 16px; /* 1rem=10px */
}

h1{
    text-align: center;
    font-size: 3.8rem;
}

.card_link{
    text-decoration: none;
}

.card_container{
    background-color: var(--primaryGreen);
    height: 30rem;
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    transition: all 400ms ease;
}

.card_container:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.6);
    transform: translateY(-3%);
}

.card_image{
    width: 100%;
    max-height: 60%;
}

.card_name{
    font-size: 2.4rem;
    text-align: center;
    margin: 0rem auto;
    font-weight: 700;
    color: var(--blue)
}

.card_continents{
    font-size: 2rem;
    text-align: center;
    margin: 0rem auto;
    font-weight: 400;
}

.card_info{
    margin-top: 0;
    padding: 1rem;
}