:root{
    --primaryGreen: #B0E2E1;
    --secundaryGreen: #5DC5C4;
    --blue: #3D5071;
    --black: #434343;
    --primaryGrey: #79859D;
    --secundaryGrey: #F7F7F7;
}

/* Estilos generales */
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*,*:before, *:after{
    box-sizing: inherit;
}
body{
    font-size: 1.6rem; /* 1rem=10px */
    background-color: var(--secundaryGrey);
    line-height: 1.5;
}

h1{
    text-align: center;
    font-size: 3.8rem;
}
p{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--black);
}

.error{
    width: 90%;
    margin: 0 auto;
    background-color: #FF6D91;
    height: auto;
    border: none;
    border-radius: 1rem;
    padding: .1rem;
    margin-bottom: 1rem;
}
.message{
    color: var(--secundaryGrey);
    text-align: center;
}
