:root{
    --primaryGreen: #B0E2E1;
    --secundaryGreen: #5DC5C4;
    --blue: #3D5071;
    --black: #434343;
    --primaryGrey: #79859D;
    --secundaryGrey: #F7F7F7;
}

/* Estilos generales */
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*,*:before, *:after{
    box-sizing: inherit;
}
body{
    font-size: 16px; /* 1rem=10px */
}

h1{
    text-align: center;
    font-size: 3.8rem;
}

.paginado{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    gap: .5rem
}

.title{
    text-align: center;
    margin-bottom: .1rem;
    color: var(--blue)
}

.paginado__li{
    list-style: none;
    display: flex;
}

.paginado__btn{
    width: 2.5rem;
    display: flex;
    justify-content: center;
    padding: .5rem;
    border: transparent;
    border-radius: 50%;
    background-color: var(--primaryGreen);
    color: var(--primaryGrey);
    font-weight: 400;
}

.paginado__btn:hover{
    cursor: pointer;
    background-color: var(--blue);
    color: var(--secundaryGrey);
    font-weight: 700;
    transition: all 400ms ease;
}
.paginado__btn:focus, .paginado__btn:active{
    background-color: var(--blue);
    color: var(--secundaryGrey);
    font-weight: 700;
}